.sidebar {
    font-family: 'Saira Condensed';
  .section {
    margin-bottom: 20px;
  }
  h3 {
    line-height: 1.2em;
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
    background: #eee;
    padding: 5px;
  }
  p {
    line-height: 1.5em;
    margin-bottom: 20px;
  }
  ul {
    list-style: none;
    li {
      line-height: 1.5em;
    }
  }
  .small {
    font-size: 12px;
  }
  .comment {
    p {
      margin-bottom: 5px;
    }
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .tags {
    font-weight: bold;
    span {
      color: #000;
      font-size: 12px;
    }
    .weight-1 {
      font-size: 12px;
    }
    .weight-2 {
      font-size: 15px;
    }
    .weight-3 {
      font-size: 18px;
    }
    .weight-4 {
      font-size: 21px;
    }
    .weight-5 {
      font-size: 24px;
    }
  }
}
